:root
{
    --set-color: darkblue;
    --bg-color: linear-gradient(to right,rgb(4, 4, 24),rgb(7, 34, 65),rgb(50, 14, 66));
    --text-color: rgb(255, 255, 255);
    --hover: hsl(64, 100%, 51%);
    --lg-font: 2.2rem;
    --md-font: 1.8rem;
    --p-font: 0.941rem;
}

*{
    margin: 0; padding: 0; 
    list-style: none; text-decoration: none;
    font-size: 1.5rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu' , sans-serif;
}
body
{
    color: var(--text-color);
    background: var(--bg-color);
}
section
{
    padding: 50px 10%;
}
*::selection
{
    background: var(--set-color);
    color: var(--bg-color);
}
header
{
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 30px 10%;
    transition: 0.5s;
    box-shadow: -3px -4px 8px #ffffff73 , 2px 2px 5px rgb(82, 79, 79);
}
header
{
    box-shadow: 0 0 4px rgb(7, 53, 53);
}
.logo
{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}
.logo span
{
    font-size: 1.6rem;
    font-weight: 600;
    color: crimson;
}
.navbar
{
    display: flex;
}
.navbar a
{
    font-size: 1.1rem;
    padding: 20px 20px;
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 2px;
    z-index: 3000;
} .navbar a:hover{color: var(--hover);}
#menu-icon
{
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.home
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: 0.2fr 1fr 1fr;
    gap: 15rem;
}
.home-img
{
    order: 3; position: relative; right: 450px; top: 0px;
    border: 0px solid black; border-radius: 2rem;
    box-shadow: 0px 5px 20px rgb(0, 217, 255);
    background: linear-gradient(to right,rgb(8, 8, 46),rgb(35, 11, 63),rgb(7, 28, 43));
} .home-img image{width: 100%;}
.home-text
{
    position: relative;
    right: 220px;
    top: 2rem;
}
.home-text span
{
    font-size: 3rem;    
    font-weight: 500;
}
.home-text h1
{
    font-size: 5rem;
    letter-spacing: 7px;
    font-family: 'Dosis' , sans-serif;
}
.home-text h2
{
    font-size: 2rem;
    font-weight: 400;
}
.home-text p
{
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'Dosis',sans-serif;
    color: rgb(0, 255, 242);
    letter-spacing: 2px;
    margin: 0.7rem 0 1rem;
    width: 25rem;
}
.follow
{
    display: flex;
    flex-direction: column;
}
.follow a i
{
    margin-bottom: 1rem;
    font-size: 32px;
    color: var(--text-color);
    position: relative;
    top: 40px;
    right: 50px;
} .follow a i:hover{color: var(--hover);}
.btn
{
    display: inline-block;
    background-color: var(--set-color);
    color: #fff;
    padding: 0.7rem 1.3rem;
    font-size: var(--p-font);
    font-family: 'Dosis' , sans-serif;
    letter-spacing: 3px;
    border: 0.6rem;
    border-radius: 10px;
} .btn:hover{background: rgb(5, 50, 102);}

.heading
{
    text-align: center;
}
.heading h2
{
    font-size: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Dosis',sans-serif;
}
.heading span,i
{
    font-size: var(--p-font);
    color: aqua;
    letter-spacing: 2px;
}
.about-part
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.about-img img
{
    width: 80%;
    border-radius: 0.7rem;
    margin-top: 20px;
    box-shadow: 0px 5px 20px rgb(0, 225, 255);
}
.about-text p
{
    font-size: var(--p-font);
    letter-spacing: 2px;
    font-weight: 400;   
    text-align: justify;
    font-family: 'Dosis' , sans-serif;
}
.my-info
{
    margin: 2rem 0 2.4rem;
    font-size: var(--md-font);
}
.my-info .info-box
{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.my-info .info-box span
{
    font-weight: 400;
    margin-left: 1rem;
    font-size: 1rem;
}
.skills-part
{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
.skills-img
{
    width: 80%;
    height: 100%;
    border-radius: 2rem;
    border: 0px solid black;
    padding-left: 4rem;
    object-position: center;
    position: relative;
    top: 80px;
    left: 50px;
    filter: brightness(0.5);
}
.bars-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.bars-box h3,span
{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(169, 250, 182);
    font-family: 'Ubuntu',sans-serif;
    letter-spacing: 2px;
}
.light-bar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.4rem;
    background: linear-gradient(to right,rgb(21, 90, 26),rgb(24, 129, 77),rgb(19, 153, 135));
    border-radius: 0.5rem;
}
.percent-bar
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.4rem;
    background: linear-gradient(to right,yellow,rgb(255, 153, 0),rgb(255, 0, 0));
    border-radius: 0.6rem;
}
.html-bar
{width: 95%;} .css-bar{width: 90%;} .js-bar{width: 85%;} .react-bar{width: 89%;} .c-bar{width: 80%;}
.python-bar{width: 65%;} .mysql-bar{width: 40%;} .tailwind-bar{width: 70%;}

.projects-part
{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, min-max(200px , auto));
    gap: 4rem;
    margin-top: 2rem;
}
.projects-box
{
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    width: 440px;
    position: relative;
    left: 5px;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid darkblue;
    background: linear-gradient(to right, rgb(0, 0, 0),rgb(32, 21, 61),rgb(14, 36, 70));
    box-shadow: 0px 2px 2px aqua;
} .projects-box:hover{background: linear-gradient(to right, rgb(0, 0, 0),rgb(49, 34, 102),
    rgb(53, 21, 128))}
.project-logo
{
    color: white;
}
.projects-box h3
{
    margin-top: 20px;
}
.projects-box h3,a
{
    font-size: 1.1rem;
    padding: 5px 0px;
    color: white;
}
.projects-box i
{
    position: relative;
    top: 6px;
} 
.projects-box a:hover{color: yellow;}

.touch
{
    position: relative;
    top: 5px;
}
.contact-form
{
    display: grid;
    place-items: center;
    margin-top: 3rem;
}
.contact-form form
{
    display: flex;
    flex-direction: column;
    width: 40rem;
}
form , input , textarea , button
{
    padding: 25px;
    font-size: 1rem;
    text-align: center;
    font-family: 'Ubuntu' , sans-serif;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    width: 100%;
    border: 1px solid aqua;
    outline: none;
    background: rgb(34, 5, 73);
    margin-bottom: 1rem;
    box-shadow: 0px 2px 2px lime;
    color: var(--text-color);
}

.contact-button
{
    width: 260px;
    cursor: pointer;
    background: rgb(7, 40, 51);
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Dosis' , sans-serif;
    margin-left: 35%;
    margin-top: 20px;
} .contact-button:hover{color: yellow; background: rgb(8, 34, 107);}

.footer
{
    display: grid;
    place-items: center;
    padding: 20px;
    color: white;
}
.footer h2
{
    font-size: 1.5rem;
    font-family: 'Dosis' , sans-serif;
    letter-spacing: 5px;
    margin-bottom: 1.6rem;
}
.footer-link a i
{
    font-size: 1rem;
    text-align: center;
    padding: 0px 10px;
    line-height: 40px;
    color: #fff;
} .footer-link a i:hover{color: var(--hover);}

.copyright-tag
{
    padding: 20px;
    font-size: 1rem;
    font-family: 'Dosis' , sans-serif;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 40px;
    background: black;
    color: var(--text-color);
}